In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

file = "demo_2.csv"
df = pd.read_csv(file, encoding='latin1')
# print('no of record before removing duplicates', len(df))

df.isnull().sum()
df.describe()

              Year
count  41715.00000
mean    2017.00000
std        2.58202
min     2013.00000
25%     2015.00000
50%     2017.00000
75%     2019.00000
max     2021.00000